<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script>
//var pusher = new Pusher('af559ff310637b1d44a8'); // Replace with your app key
//var channel = pusher.subscribe('opinio');
</script>

<script type="text/javascript">
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;

  var pusher = new Pusher('af559ff310637b1d44a8');
  var channel = pusher.subscribe('opinio');
  channel.bind('action_created', function(data) {
    alert(data);
    
  });
</script>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @poll.name %>
</p>

<p>
  <b>Description:</b>
  <%= @poll.description %>
</p>

<p>
  <b>Votes:</b>
  <% @poll.answers.each do |a| %>
	<%= a.number %> 
	<%= a.affirmative %><br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
